.title-bar {
  width: 100%;
  height: 100%;
}
.logo {
  width: 185px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}
.top-menu-item {
  width: 180px;
  font-size: 20px;
  text-align: center;
}
.content {
  height: 100%;
  padding: 0px 50px;
}
.content-box {
  height: 100%;
  padding: 24px 0px;
}
.sider {
  overflow-y: scroll;
  background-color: white !important;
}
.main-content {
  padding: 0px 24px;
  height: 100%;
}

.main-content-loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}